html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: black;
    color: white;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#homeScreen {
    width: 1200px;
    height: 800px;
    background: black;
    margin: auto;
    display: block;
}

#gameScreen {
    display: none;
    width: fit-content;
    height: 100vh;
    margin: auto;
}

.game-container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

#gameCanvas {
    border: 4px solid yellow;
    box-sizing: border-box;
    height: 100vh;
}

#scoreboard {
    padding: 20px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    background: black;
}
